.container a {
border: 1px solid blue;

} 

img{
    float:left;
}
.container2{
    border:1px solid blue 5px;
    padding:50px;
    background-color:lightblue;
    color:darkcyan;
    
    margin-right:150px;
    margin-left:150px;
}
.container1{
    border:1px solid blue 5px;
    padding:50px;
    background-color:lightblue;
    color:darkcyan;
    margin-top:150px;
    margin-right:150px;
    margin-left:150px;
}
center p{
    margin-right:100px;
}
div h3{
border:1px solid blue 5px;
}
body{
background-color:black;
color:cyan;

} 
.imgview{
margin-left:200px;
}
.view{
margin-left:90px;
}
.footer{
    background-color:white;
    margin-left:700px;
    margin-right:700px;
}
.blog{
    background-color:white;
    margin-left:700px;
    margin-right:700px;
}

