.container a {
    border: 1px solid lightcyan;
    margin-right:100px;
  } 

  img{
      float:left;
  }
  .container{
      border:1px solid lightblue 5px;
      padding:50px;
      background-color:lightblue;
  }
div h3{
    border:1px solid lightblue 5px;
}
