.container a {
    border: 1px solid blue;
    margin-right:100px;
  } 

  img{
      float:left;
  }
  .container{
      border:1px solid blue 5px;
      padding:50px;
      background-color:lightblue;
      color:darkcyan;
  }
div h3{
    border:1px solid blue 5px;
}
body{
    background-color:black;
}