{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}

    <div class="container">
        
        <div class="col-md-4 form" >
            <p>Add your comment</p>
            <p>__________________</p>
            <br>
          {{ wtf.quick_form(form) }}
      
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br>
        <hr>

        {% for com in comment %}

        <h2> {{ com.description}} </h2>
       
        <a href="/delete/{{com.id}}"><button>Delete</button></a>
    
        {% endfor %}
    </div>
{% endblock %}