{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}

    <div class="container">
        
        <div class="col-md-4 form" >
            <p>Add your comment</p>
            <p>__________________</p>
            <br>
          {{ wtf.quick_form(form) }}
     
          <hr>  
        </div>


        {% for blog in all_blogs %}

        {% for comment in blog.comments %}

        


        <h2> {{ comment.description}} </h2>
       
    
        {% endfor %}
        {% endfor %}
        

    </div>



{% endblock %}