
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
<!-- Styles block -->

{% block content %}

<div class="container-fluid container">
  
  <!-- <a href="/subscribe">subscribe</a> -->
</div>
<blockquote class="text-center text-lg">
  <h2>Quotes Blog</h2>
  <p>______________________</p>
  
  <p>{{quote.quote}}</p>
  <p>Author: {{quote.author}}</p>
  <br><br>

  <p>Click here to add blogs: </p> <a class="blog" href="/blog">Blog</a></h1>
  <hr>
  {% for blog in all_blogs %}
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <p>{{blog.blog}}</p>
          
        </div>
        <div class="card-header" style='text-align:center;'>
          <h5>{{blog.user}}</h5>
        </div>

        <br>
        <div class="footer">
          <div >
            <a href="/comment/{{blog.id}}">Comment</a>
            <a href="/subscribe/{{blog.id}}">|  Subscribe</a>
            <a href="/delete/{{blog.id}}">|  Delete</a>
            <a href="/update/{{blog.id}}">|  Update</a>
            
          </div>
        </div>
        <hr>
      </div>
      <br>
    </div>
  </div>

  {% endfor %}
  </div>
  {% endblock%}
