

{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
<!-- Styles block -->

{% block content %}

<div class="container-fluid container">
  
  <!-- <a href="/subscribe">subscribe</a> -->
</div>
<blockquote class="text-center text-lg">
  <h2>Quotes Blog</h2>
  <p>{{quote.quote}}</p>
  <p>author: {{quote.author}}</p>
  <br><br>

  <a href="/blog">Blog</a></h1>
  {% for blog in all_blogs %}
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <p>{{blog.blog}}</p>
          
        </div>
        <div class="card-header" style='text-align:center;'>
          <h5>{{blog.user}}</h5>
        </div>

        <br>
        <div class="card-footer">
          <div class="container-fluid write">
            <a class="btn btn-primary btn-md" href="/newcomment/{{blog.id}}">Comment</a>
            
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  {% endfor %}
  </div>
  {% endblock%}